footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-top: 1px solid #14ade0;
  background-color: #effbff;
  padding: 40px;
}
h3 {
  margin: 5px;
}
span {
    color: #14ade0;
    font-weight: bold;
}