nav {
  width: 100%;
  background-color: #effbff;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 5px 100px;
  border-bottom: 1px solid #777;
}
.logo {
  display: flex;
  flex-direction: column;
  align-items: center;
}
img {
  width: 65px;
}

h2 {
  font-size: 20px;
}

ul {
  display: flex;
  flex-direction: row;
  align-items: center;
}

li {
  margin: 0px 15px;
  list-style-type: none;
}

#compartilhar {
  border: 1px solid #14ade0;
  padding: 0.5em;
  border-radius: 10px;
}

a:hover h2 {
  transition: 0.4s;
  color: #14ade0;
}
